.ant-layout {
  .layout-content {
    min-height: calc(100vh - 64px);
    padding: 0 24px 24px;

    .header-content {
      margin: 16px 0;
      padding-bottom: 6px;
      border-bottom: 1.2px solid rgba(0, 0, 0, 22%);
    }
  }
}

.ant-layout-header {
  &.header {
    display: flex;
    padding: 0 10px;

    .ant-menu-root {
      width: 100%;

      .ant-menu-item {
        &.menu-rigth {
          float: right;
        }
      }
    }

  }
}



.login-warp {
  max-width: 360px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .auth {
    border: 2px solid rgba(92, 92, 92, 18%);
    border-radius: 12px;
    margin: 20px;
    padding: 20px 20px 0px 20px;
  }
}