.ant-layout {
  .layout-content {
    min-height: calc(100vh - 64px);
    padding: 0 24px 24px;

    .header-content {
      margin: 16px 0;
      padding-bottom: 6px;
      border-bottom: 1.2px solid rgba(0, 0, 0, 22%);
    }
  }
}

.ant-layout-header {
  &.header {
    display: flex;
    padding: 0 10px;
  }
}